.users-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
    padding: 20px;
}

.users-toolbar{
    display: flex;
    flex-direction: row;

    button {
        color: black;
        width: 60px;
        height: 60px;
        font-size: 36px;
        border-radius: 50%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover {
            background-color: #eb6a00;
            box-shadow: 5px 5px 5px rgb(161, 161, 161);
        }
    }
}