<div class="sidebar-container">
    <div class="sidebar-header">
        <img src="assets/kt_logo.png" alt="Tête de renard" class="logo">
        <div class="logo-text">
            <span class="logo-title">KitsuTrail</span>
            <span class="logo-subtitle">Simulation de données</span>
        </div>
    </div>

    <div class="sidebar-menu">
        <button routerLink="">Accueil</button>

        @for (menu of menus; track menu.title) {
            @if (menu.display) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ menu.title }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <article *ngFor="let link of menu.links">
                        <a [routerLink]="link.path"
                            [class.disabled]="link.disabled">
                            {{ link.label }}
                        </a>
                    </article>
                </mat-expansion-panel>
            }
        }
    </div>

    <div class="sidebar-footer">
        <p>Peredur - 2025</p>
    </div>
</div>
