<div class="current-state">
    <div class="state-card">
        <p>Sessions actives: {{ state.active_sessions }}</p>
    </div>
    <div class="state-card">
        <p>Utilisateurs actifs: {{ state.active_users }}</p>
    </div>
    <div class="state-card">
        <p>Utilisateurs total: {{ state.total_users }}</p>
    </div>
    <div class="state-card">
        <p>Fournisseurs d'identité: {{ state.total_idp }}</p>
    </div>
    <div class="state-card">
        <p>Fournisseurs de service: {{ state.total_sp }}</p>
    </div>
</div>
