<ng-container *ngIf="auditLogs$ | async as auditLogs">
    <table mat-table [dataSource]="auditLogs" class="mat-elevation-z8">
        @for (column of columns; track column) {
            <ng-container [matColumnDef]="column.columnDef">
                <th mat-header-cell *matHeaderCellDef>{{column.header}}</th>
                <td mat-cell *matCellDef="let entry">{{column.getValue(entry)}}</td>
            </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="selectedColumns"></tr>
        <tr mat-row *matRowDef="let entry; columns: selectedColumns"></tr>
    </table>
</ng-container>

<div class="message-containter" *ngIf="(auditLogs$ | async)?.length === 0">No DATA</div>