<div class="sidebar-container">
    <div class="sidebar-header">
        <img src="assets/kt_logo.png" alt="Tête de renard" class="logo">
        <div class="logo-text">
            <span class="logo-title">KitsuTrail</span>
            <span class="logo-subtitle">Simulation de données</span>
        </div>
        
    </div>
    <div class="sidebar-content">
        <nav>
            <a routerLink="">Accueil</a>

            <div>
                Users
                <span>▼</span>
            </div>
            <div>
                <a routerLink="users">Utilisateurs</a>
            </div>
        </nav>
    </div>
    <div class="sidebar-footer">
        <p>Footer</p>
    </div>
</div>
