<div class="sidebar-container">
    <div class="sidebar-header">
        <img src="assets/kt_logo.png" alt="Tête de renard" class="logo">
        <div class="logo-text">
            <span class="logo-title">KitsuTrail</span>
            <span class="logo-subtitle">Simulation de données</span>
        </div>
    </div>

    <div class="sidebar-menu">
        <a routerLink="">Accueil</a>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Gestion utilisateurs</mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li><a routerLink="users">Utilisateurs</a></li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Fournisseurs</mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li><a routerLink="providers/idp">Identité</a></li>
                <li><a routerLink="providers/sp">Service</a></li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Data</mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li><a routerLink="data/audit">Journalisation</a></li>
                <li><a routerLink="data/dashboard">Tableau de bord</a></li>
            </ul>
        </mat-expansion-panel>
    </div>

    <div class="sidebar-footer">
        <p>Projet personnel - 2025</p>
    </div>
</div>
