<div class="landing-page-main">
    <div class="landing-page-menu">
        <div class="landing-page-widget">
            <h3>Gestion des utilisateurs</h3>
            <p>Liste des utilisateurs</p>
        </div>
        <div class="landing-page-widget">
            <h3>Gestion des Fournisseurs</h3>
            <p>Identités</p>
            <p>Services</p>
        </div>
        <div class="landing-page-widget">
            <h3>Traitement des données</h3>
            <p>Journal d'audit</p>
            <p>Tableau de bord</p>
        </div>
    </div>
</div>