<div class="landing-page-main">
    <div class="landing-page-menu">
        <div class="landing-page-widget">
            <h3>Gestion des utilisateurs</h3>
            <button routerLink="/users">Liste des utilisateurs</button>
        </div>
        <div class="landing-page-widget">
            <h3>Gestion des Fournisseurs</h3>
            <button routerLink="" disabled="true">Identités</button><br>
            <button routerLink="" disabled="true">Services</button>
        </div>
        <div class="landing-page-widget">
            <h3>Traitement des données</h3>
            <button routerLink="" disabled="true">Journal d'audit</button><br>
            <button routerLink="" disabled="true">Tableau de bord</button>
        </div>
    </div>
</div>