.dashboard-grid {
    margin-top: 20px;
    padding-right: 10px;
}

.row1, .row2 {
    display: grid;
    row-gap: 10px;
}

.row1 {
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 30px;
}

.row2 {
    grid-template-columns: 1fr 2fr 1fr;
}